.Pagination {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;

}
    .selectPagination {
        margin: 5px 15px;
        font-size: 14px;
        padding: 2px;
        width: 150px;
        height: 100%;
          }
